*{
    padding: 0;
    margin: 0;

}

body{
    background-color: rgba(127, 127, 127, 0.107);
    z-index: -10;
}

.nav{
    width: 100%;
    height: 100px;
    background-color: rgb(3, 51, 223);
    position: fixed;
    /* margin-top: -20px; */
}

a{
    text-decoration: none;
    padding-right: 20px;
    padding-bottom: 30px;
    /* padding-top: 30px; */
    /* margin-left: 30px; */
    font-size: 18px;
    color: rgb(255, 255, 255);

}

a:hover{
    color: rgb(255, 26, 171);
}

button{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    cursor: pointer;
    color: white;

}
button:hover{
    color: rgb(255, 26, 171);


}

ul{
    padding-top: 35px;
}

ul li{
    display: inline;
    padding-left: 50px;
    margin-top: 20px;
}

#demo{
    /* position: absolute; */
    /* left: 0;
    top: 0; */
    /* border: 2px solid red; */
    height: 100%;
    width: 70%;
    margin-left: 220px;
    padding-top: 155px;
    padding-bottom: 50px;
    /* margin-top: 300px; */
    list-style: none;
    z-index: 1;
    background-color: rgba(155, 155, 155, 0.11);
}

#demo li{
    background-color: rgba(131, 131, 131, 0.17);
    margin-left: 20px;
    width: 95%;
    height: 25px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: .5px;
    /* color: white; */
    
    
}

#demo h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    /* margin-bottom: 20px; */
    /* top: 10px; */
    margin-bottom: 10px;
}

#demo p{
    color: rgb(157, 26, 26);
    text-align: center;
    font-size: 18.5px;
}



#myCheck{
    width: 18px;
    height: 18px;
    float: right;
    margin-top: 1.5px;
    margin-right: 80px;
    transition: transform .3s;


}
#myCheck:hover{
    cursor: pointer;
    transform: scale(1.05);


}
input{
    padding-left: 50px;
    margin-left: 50px;
    margin-top: 10px;
}

